<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="generalinfo.powellmakerspace.org.makerspacelogin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginMethodWindow" />
        <activity android:name=".QRCodeWindow" />
        <activity android:name=".LoginSearchWindow" />
        <activity android:name=".MemberConfirmWindow" />
        <activity
            android:name=".UpdateWindow"
            android:label="@string/title_activity_update_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurposeWindow"
            android:label="@string/title_activity_purpose_window"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ArrivingWindow" />
        <activity android:name=".NewMemberWindow" />
        <activity android:name=".SurveyWindow" />
        <activity android:name=".PurposeWindow1" />
        <activity android:name=".UpdateWindow1" />
        <activity android:name=".LeavingWindow"></activity>
    </application>

</manifest>